.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.wrapper img {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.wrapper p {
    margin: 0;
}
