.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.message {
    padding: 7px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.message:hover {
    background-color: #c0c0c0;
}